<a href="https://colab.research.google.com/github/HagarElsherbiny/StockPricePrediction/blob/main/AMZN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [17]:
import pandas as pd
pd.read_csv('/content/gdrive/My Drive/AMZN.csv')

#Importing the dataset that we are going to use via google drive.

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-09-01,126.000000,128.020004,123.660004,127.820000,127.820000,56636100
1,2022-09-02,129.500000,131.380005,126.389999,127.510002,127.510002,57429800
2,2022-09-06,127.919998,128.619995,124.739998,126.110001,126.110001,43888600
3,2022-09-07,126.120003,129.820007,125.400002,129.479996,129.479996,47900300
4,2022-09-08,127.720001,130.279999,127.099998,129.820007,129.820007,43988500
...,...,...,...,...,...,...,...
118,2023-02-22,95.099998,97.010002,94.800003,95.790001,95.790001,59534100
119,2023-02-23,96.120003,96.430000,93.669998,95.820000,95.820000,48467000
120,2023-02-24,93.529999,94.139999,92.320000,93.500000,93.500000,57053800
121,2023-02-27,94.279999,94.779999,93.139999,93.760002,93.760002,47470300
122,2023-02-28,93.139999,94.690002,92.919998,94.230003,94.230003,43959300